/* Default CSS */
*{
    margin: 0;
    padding: 0;
}
.fixed-width{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
/* Header section start */
header{
    background-color: rgba(0, 0, 0, 0.513);
    padding: 5px 0;
    position: relative;
    z-index: 999;
}
header .logo{
    width: 20%;
}
header .logo img{
    width: 200px;
}
header nav{
    width: 80%;
}
header nav ul{
    list-style: none;
    text-align: right;
}
header nav ul li{
    display: inline-block;
    margin-left: -4px;
    position: relative;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    color: white;
    line-height: 50px;
    font-size: 14px;
    position: relative;
    transition: .5s;
}
header nav ul li::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 14px;
    width: 80%;
    height: 2px;
    background-color: #C69453;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: .4s;
}
header nav ul li:hover::after{
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}
header nav ul li ul li:hover::after{
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
}
/* DROP DOWN */
header nav ul li ul{
    position: absolute;
    top: 50px;
    left: 0;
    width: 180px;
    background-color: #fff;
    text-align: left; 
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .5s;
}
header nav ul li ul li{
    display: block;
    margin-left: 0px;
}
header nav ul li ul li a{
    display: block;
    color: black;
    transition: .5s;
}
/* hover */
header nav ul li ul li a:hover{
    background-color: #D7D6D7;
    color: #C69453; 
}

header nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* Header section End */

/* Banner section start */
.banner{
    background: url(../img/ia_200000019.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
    background-position: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -60px;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: -1;
} 
.banner .content h1{
    font-size: 60px;
    font-weight: 900;
}
.banner .content h2{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 40px;
    position: relative;
}
.banner .content h2::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 240px;
    width: 100px;
    height: 2px;
    background-color: #fff;
}
.banner .content h2::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 240px;
    width: 100px;
    height: 2px;
    background-color: #fff;
}
.banner .content a{
    color: white;
    display: inline-block;
    background-color: #C69453;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    transition: .5s;
}
.banner .content a:hover{
    color: #C69453;
    background-color: #fff;
}
/* Banner section end */

/* Service Section Start */
.service{
    padding: 50px 0;
    background-color: #F8F8F8;
}
.service-box{
    background-color: #fff;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    padding: 30px 0;
    text-align: center;
    transition: .5s;
}
.service-box:hover a{
    background-color: #fff;
    color: #C69453;
}
.service-box:hover{
    background-color: #E9E6E5;
}
.service-box figure img{
    margin-bottom: 10px;
    transform: rotateY(0deg);
    transition: 1s;
}
.service-box:hover img{
    transform: rotateY(-360deg);
}
.service-box h3{
    font-size: 16px;
}
.service-box p{
    margin: 20px 0;
    color: #657A8C;
}
.service-box a{
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #C69453;
    padding: 10px 25px;
    border-radius: 5px;
    transition: .5s;
}
.service-box a:hover{
    background-color: #000;
    color: #fff;
}
/* Service Section End */

/* Vedio Section Start */
.vedio{
    padding: 100px 0;
    background-color: #F8F8F8;
}
.content .vedioc{
    width: 40%;
}
.content .paragraph{
    width: 50%;
    margin-left: 30px;
}
.content .paragraph h2 {
    font-size: 40px;
    font-weight: 600;
}
.content .paragraph p{
    margin: 20px 0;
    color: #535259;
}
.content .paragraph h2 span{
    color: #C69453;
}
.content .paragraph a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #000;
    padding: 10px 20px; 
    margin-top: 10px;
    transition: .5s;
}
.content .paragraph a:hover{
    background-color: #C69453;
    color: #fff;
}
summary{
    cursor: pointer;
}
/* Vedio Section End */

/* Contact section Start */
.contact{
    padding: 100px 0;
    background: url(../img/ia_200000022.jpg);
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}
.ccontent{
    width: 500px;
    margin-left: 100px;
}
.ccontent h2{
    font-size: 40px;
    font-weight: 600;
}
.ccontent p{
    padding: 20px 0;
    color: #535259;
}
.allinput {
    padding: 10px;
    width: 450px;
    margin: 10px 0;
    outline: none;
}
.contact button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #C69453;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
/* Contact section */

/* Footer section start */
footer{
    background-color: #6D6D6D;
    padding: 40px 0; 
}
.f-content{
    width: 50%;
}
.f-content p{
    color: #ddd;
    font-size: 14px;
}
.fnav{
    width: 50%;
}
.fnav ul{
    list-style: none;
    text-align: right;
}
.fnav ul li{
    display: inline-block;
}
.fnav ul li a{
    display: inline-block;
    color: white;
    padding: 0 15px;
}
/* Footer section end */